// 全局式样
body,
button,
input,
select,
textarea {
    font: 12px/1 "Microsoft YaHei", "微软雅黑", "arial", "tahoma", "MicrosoftJhengHei";
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

// 全局布局式样
.ant-layout-header {
    display: flex;
    z-index: 11 !important;
}

.logo {
    width: "184px";
    height: "45px";
    display: inline-block;
}

.menu {
    height: 68px;
    width: 731px;
    left: 469px;
    top: 0px;
    z-index: 3;
    position: absolute;
}

.ant-layout-content {
    padding: 0 !important;
}

.ant-layout-footer {
    height: 222px;
    width: 100%;
    background: #001529;

    .footer-body {
        color: #fff;
        // height: 222px;
        // width: 100%;
        // background: #ccc;
    }

    .w-company-info {
        float: right;
    }
}
